.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #111;

}

.logo{
    position: fixed;
    left: 20px;
    width: 80px;
}

.avatar{
    position: fixed;
    right: 20px;
    width: 30px;
}

.creater{
    position: fixed;
    right: 200px;
    padding-top: 20px;
    color: aliceblue;
    font-style: italic;
    font-size: 15px;
}

.mahadev{
    font-size: 13px;
    text-decoration: none;
    color: white;

}
.mahadev:hover{
    color: #c4a858;

}